{% extends 'blog/base.html' %}

{% block body %}
<h3>Our Services</h3>
<div class="content-section">
  <p>At SGTek we are offering a variety of services to the consumer market.
  We seek to provide basic technology in the health sector, educational sector,
Freelance sector and more.</p>
<p>We seek to offer Keyans serices like online Technology helps and tips, online update on
latest technology, Hub for Writers IT/CS/CS/SE projects and Assignments. a e-commerce
handle for Second hand Electronics.</p>
<p>This will help provide basic Tech questions and educate the public on specialities
that most normal citizens are not aware of.</p>


</div>
{% endblock %}
