{% extends 'blog/base.html' %} {% load static %} {% block style %}
<style>
    body {
        background-image: url("{% static 'blog/images/bg.jpg' %}");
    }
</style>
{% endblock %} {% block body %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="Author's Image">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.author == request.user %}
        <a href="{% url 'post-update' post.id %}" class="btn btn-outline-warning">Update <i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="{% url 'post-delete' post.id %}" class="btn btn-outline-danger">Delete <i class="fa fa-trash" aria-hidden="true"></i></a> {% endif %}
    </div>
</article>
{% endblock %}