<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      {% block body %}{% endblock %}
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Quick Action</h3>
        <p class='text-muted'>A soultion to all writers IT Projects and Assignmemts.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Assignments</li>
            <li class="list-group-item list-group-item-light">News Center</li>
            <li class="list-group-item list-group-item-light">Hot Deals</li>
            <li class="list-group-item list-group-item-light">Search</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>
