{% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block style %}
<style>
    body {
        background-image: url("{% static 'blog/images/signup.jpg' %}");
    }
</style>
{% endblock %} {% block body %}
<div class="content-section">
    <form class="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" name="button" class="btn btn-outline-warning">Update <i class="fa fa-pencil-o" aria-hidden="true"></i></button>
        </div>
    </form>
</div>
{% endblock %}