{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<style>
  body{
    background-image: url("{% static 'blog/images/signup.jpg' %}");
  }
</style>
{% endblock %}

{% block body %}
    <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h3 class="account-heading">{{ user.username }}</h3>
        <p class="text-secondary">Email:   {{ user.email }}</p>
        <p  class="text-secondary">Phone:  {{ user.profile.phone }}</p>
        <p  class="text-secondary">County: {{ user.profile.county }}</p>
      </div>
    </div>
    <!-- FORM HERE -->
    <form class=""  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Information</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="submit" name="button" class="btn btn-outline-info">Update <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </div>
    </form>
    </div>
{% endblock %}
